body{
    margin: 0px;
}
*{
    box-sizing: border-box;
}
:root{
    --color-firstpage:rgba(255, 153, 0, 0.635);
    --color:rgb(100, 65, 11);
    --color2:bisque ;
    --font:"Caveat", cursive;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
}
.first-page{
    background-image: url(pics/wheat.jpg);
    background-repeat: no-repeat;
    background-size: 100% 594px;
    width: 100%;
    height: 594px;
    overflow: hidden;
    filter: brightness(0.5);
}
.div1-1{
    width: 500px;
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 450px;
    margin-left: 400px;
    margin-top: 80px;
    background-color: var(--color-firstpage);
    overflow: hidden;
}
.div1-1 p{
    margin-top:280px;
    text-align: center;
    font-size: 28px;
    font-family: var(--font);
    color: var(--color)
}
.div1-1 button{
    margin-left: 200px;
    width: 100px;
    font-size: 20px;
    display: inline-block;
    padding: 8px;
    background-color: var(--color2);
    color: var(--color);
    font-family: var(--font);
    border-radius: 50%;
    outline: none;
    border: none; 
    box-shadow:0 6px 0 rgba(255, 255, 255, 0.386); 
}
.div1-1 button:active{
    transform: translateY(6px);
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.386);
}