body{
    margin: 0px;
}
*{
    box-sizing: border-box;
}
:root{
    --color-firstpage:rgba(255, 153, 0, 0.635);
    --color:rgb(96, 68, 27);
    --color2:rgb(255, 228, 196) ;
    --brown:rgba(255, 228, 196, 0.573);
    --font:"Caveat", cursive;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
}
.first-page{
    background-image: url(pics/wheat.jpg);
    background-repeat: no-repeat;
    background-size: 100% 594px;
    width: 100%;
    height: 594px;
    overflow: hidden;
    filter: brightness(0.5);
}
.div1-1{
    width: 500px;
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 450px;
    margin-left: 400px;
    margin-top: 80px;
    background-color: var(--color-firstpage);
    overflow: hidden;
    position: relative;
    float: left;
}
.div1-1 p{
    margin-top:280px;
    text-align: center;
    font-size: 2.5vw;
    font-family: var(--font);
    color: var(--color)
}
.div1-1 button{
    margin-left: 200px;
    width: 100px;
    font-size: 1.5vw;
    display: inline-block;
    padding: 8px;
    background-color: var(--color2);
    color: var(--color);
    font-family: var(--font);
    border-radius: 50%;
    outline: none;
    border: none; 
    box-shadow:0 6px 0 rgba(255, 255, 255, 0.386); 
}
.div1-1 button:active{
    transform: translateY(6px);
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.386);
}
.first-page h2{
    position: absolute;
    float: left;
    margin-top:230px;
    margin-left: 280px;
    font-size: 4.5vw;
    color: var(--color2);
    text-shadow:0 2px 0 black;
}
@media screen and (max-width:767px){
    .first-page{
    background-size: 100% 1025px;
    width: 100%;
    height: 700px;
}
.div1-1{
    width: 300px;
    height: 380px;
    margin-left: 60px;
    margin-top: 140px;
}
.div1-1 p{
    margin-top:230px;
    text-align: center;
    font-size: 6.5vw;
}
.div1-1 button{
    margin-left: 100px;
    font-size: 2.5vw;
    margin-top: -50px;
}
.first-page h2{
    margin-top:280px;
    margin-left: 3px;
    font-size: 7.4vw;
    display: flex;
}
}
/* page SECOND */
.main-div-page2{
    width: 100%;
    height: 594px;
    overflow: hidden;
    background-color: var(--color);
}
.main-div-page2 h2{
    font-family: var(--font);
    color: var(--brown);
    font-size: 3vw;
    margin-left: 490px;
    letter-spacing: 5px;
    text-shadow: 0 4px 0 black;
}
.div1-page2{
    width: 300px;
    height: 450px;
    background-color: var(--brown);
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    float: left;
    position: relative;
    margin-left: 150px;
    text-align: center;
    transition: all 1s ease;
    
}
.pic1-page2{
    background-image: url(pics/wheat\ 2.png);
    background-size: 300px 250px;
    width: 300px;
    height: 250px;
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    border: 1px solid var(--brown);
    background-repeat: no-repeat;
}
.div1-page2 h3{
    font-size: 1.9vw;
    color: var(--color);
}
.div1-page2 p{
    font-size: 1.2vw;
    color: var(--color);
    padding: 5px;
}
.div2-page2{
    width: 300px;
    height: 450px;
    background-color: var(--brown);
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    float: left;
    position: relative;
    margin-left: 10px;
    text-align: center;
    transition: all 1s ease;
}
.pic2-page2{
    background-image: url(pics/wheat\ 2-3.jpg);
    background-size: 300px 250px;
    width: 300px;
    height: 250px;
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    border: 1px solid var(--brown);
    background-repeat: no-repeat;
}
.div2-page2 h3{
    font-size: 1.9vw;
    color: var(--color);
}
.div2-page2 p{
    font-size: 1.2vw;
    color: var(--color);
    padding: 5px;
}
.div3-page2{
    width: 300px;
    height: 450px;
    background-color: var(--brown);
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    float: left;
    position: relative;
    margin-left: 10px;
    text-align: center;
    transition: all 1s ease;
}
.pic3-page2{
    background-image: url(pics/wheat\ 2-2.jpg);
    background-size: 300px 250px;
    width: 300px;
    height: 250px;
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    border: 1px solid var(--brown);
    background-repeat: no-repeat;
}
.div3-page2 h3{
    font-size: 1.9vw;
    color: var(--color);
}
.div3-page2 p{
    font-size: 1.2vw;
    color: var(--color);
    padding: 5px;
}
.div1-page2:hover,.div2-page2:hover,.div3-page2:hover {
    transform: scale(1.05)
}
@media screen and (max-width:767px) {
.main-div-page2 h2{   
    font-size: 7vw;
    margin-left: 130px;
}
.main-div-page2{
    width: 100%;
    height:auto;   
}
.div1-page2{
    width:300px;
    height: 350px;
    float: none;
    margin-left: 60px;  
}
.pic1-page2{
    background-image: url(pics/wheat\ 2.png);
    background-size: 300px 230px;
    width: 300px;
    height: 230px;
}
.div1-page2 h3{
    font-size: 3.5vw;
}
.div1-page2 p{
    font-size: 2.5vw;
}
.div2-page2{
    width: 300px;
    height: 350px;
    float: none;
    margin-left: 60px;
    margin-top: 15px;   
}
.pic2-page2{
    background-image: url(pics/wheat\ 2-3.jpg);
    background-size: 300px 230px;
    width: 300px;
    height: 230px;
}
.div2-page2 h3{
    font-size: 3.5vw;
}
.div2-page2 p{
    font-size: 2.5vw;
}
.div3-page2{
    width: 300px;
    height: 350px;
    float: none;
    margin-left: 60px;
    margin-top: 15px;
}
.pic3-page2{
    background-image: url(pics/wheat\ 2-2.jpg);
    background-size: 300px 230px;
    width: 300px;
    height: 230px;
}
.div3-page2 h3{
    font-size: 3.5vw; 
}
.div3-page2 p{
    font-size: 2.5vw; 
}  
}